node_modules
dist
.DS_Store
*.local
.env
.env.*
.idea
.vscode
*.log
coverage
.cursor/pdf_pages/page10_0.png
.cursor/pdf_pages/page11_0.png
.cursor/pdf_pages/page12_0.png
.cursor/pdf_pages/page13_0.png
.cursor/pdf_pages/page14_0.png
.cursor/pdf_pages/page15_0.png
.cursor/pdf_pages/page16_0.png
.cursor/pdf_pages/page17_0.png
.cursor/pdf_pages/page18_0.png
.cursor/pdf_pages/page19_0.png
.cursor/pdf_pages/page1_0.png
.cursor/pdf_pages/page20_0.png
.cursor/pdf_pages/page21_0.png
.cursor/pdf_pages/page22_0.png
.cursor/pdf_pages/page23_0.png
.cursor/pdf_pages/page24_0.png
.cursor/pdf_pages/page25_0.png
.cursor/pdf_pages/page26_0.png
.cursor/pdf_pages/page27_0.png
.cursor/pdf_pages/page28_0.png
.cursor/pdf_pages/page29_0.png
.cursor/pdf_pages/page2_0.png
.cursor/pdf_pages/page30_0.png
.cursor/pdf_pages/page31_0.png
.cursor/pdf_pages/page3_0.png
.cursor/pdf_pages/page4_0.png
.cursor/pdf_pages/page5_0.png
.cursor/pdf_pages/page6_0.png
.cursor/pdf_pages/page7_0.png
.cursor/pdf_pages/page8_0.png
.cursor/pdf_pages/page9_0.png
